# Ignorar pastas do sistema
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Documents/
IntelGraphicsProfiles/
NTUSER.DAT*
AppData/
Favorites/
Contacts/
Downloads/
Music/
Videos/
Desktop.ini
.vscode/
.cache/
